<footer class="bg-dark text-center text-lg-start">
    
    <div class="text-center p-3 bg-dark text-secondary">
      © 2021 Copyright:
      <a class="text-secondary" href="https://mdbootstrap.com/">Kristijan Papic</a>
      <span> - </span>
      <a class="text-secondary" href="/Projekt/reference.html">Reference</a>
    </div>
  </footer> 